p {
  font-size: 2em;
  line-height: 1.2;
  padding: 0 0 20px 0;
}

h2 {
  font-size: 2.5em;
}

.far {
  font-size: 1.6em;
  color: yellow;
}

.comment {
  display: flex;
  margin: 5px;
  padding: 5px;
  background: @orange;
  border-radius: 5px;
  font-size: 10px;
}

input {
  font-size: 20px;
}

.example {
  font-style: italic;
  color: @lightteal;
}
