p {
  font-size: 2em;
  line-height: 1.2;
  padding: 0 0 20px 0;
  text-align: justify;
  text-justify: inter-word;
}

h1 {
  color: @white;
  font-size: 4.5em;
  font-weight: 400;
  margin: 15px 0;
}

h2 {
  font-size: 2.5em;
  line-height: 1.2;
  margin-bottom: 10px;
}

.far {
  font-size: 1.6em;
  color: #ffff99;
  line-height: 0.5;
  padding: 10px 0 0 10px;
}

.comment {
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
  padding: 5px;
  background: @orange;
  border-radius: 5px;
  font-size: 10px;
  p {
    padding: 0 10px;
  }
}

textarea {
  resize: vertical;
  outline: none;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  border-radius: 5px;
  margin: 20px 0 12px 0;
  padding: 5px 8px;
  background: @white;
}

.comment-box {
  width: 98%;
  min-height: 30px;
  height: 80px;
}

img {
  width: 100%;
  margin: 30px 0 20px 0;
  border: 3px solid @lightteal;
  border-radius: 5px;
}

input {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 17px;
  border-radius: 5px;
  padding: 5px 8px;
  margin: 5px 10px 0 0;
  background: @white;
}

button {
  cursor: pointer;
  font-size: 18px;
  border-radius: 5px;
  padding: 5px 8px;
  border: none;
}

.link-div {
  display: flex;
  background: #5c5cd6;
  border-radius: 5px;
}

.cta {
  font-size: 20px;
  color: @white;
  padding: 5px 8px;
  text-decoration: none;
}

.analyze-div {
  display: flex;
  justify-content: space-between;
}

.example {
  font-style: italic;
  color: @lightteal;
  font-weight: 700;
}

.add-comment {
  display: flex;
  flex-direction: column;
}

.analyze {
  width: 20%;
  background: #5c5cd6;
  color: @white;
}

.edit {
  margin: 3px;
  background: #33cc33;
  color: @white;
}

.signup {
  margin: 3px;
  background: #5c5cd6;
  color: @white;
}

.delete {
  margin: 3px;
  background: #cc3333;
  color: @white;
}

.cancel {
  margin: 3px;
  background: #cc3333;
  color: @white;
}
