/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.rtb {
  border: 2px dashed red;
}
body {
  font-size: 62.5%;
  max-width: 800px;
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.container {
  border-radius: 5px;
  margin: 20px auto;
  padding: 20px;
  border: 7px solid #66fcf1;
  background-color: #55bcc9;
  color: #fbfbef;
  width: 100%;
  user-select: none;
  border: 2px dashed red;
}
h1 {
  color: #fbfbef;
  font-size: 5em;
  font-weight: 400;
  margin-bottom: 10px;
}
.nav-bar {
  height: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.nav-link {
  background: #fbfbef;
  color: #fc4445;
  text-decoration: none;
  font-size: 1.5em;
  padding: 10px 20px 7px 20px;
  border-radius: 5px;
  cursor: pointer;
}
.active-nav-link {
  background: #fc4445;
  color: #fbfbef;
}
.sentiment {
  border: 2px dashed red;
}
