/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.rtb {
  border: 2px dashed red;
}
body {
  box-sizing: border-box;
  font-size: 62.5%;
  max-width: 1000px;
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #66fcf1;
  margin: 0 auto;
}
.container {
  box-sizing: border-box;
  border-radius: 5px;
  margin: 20px;
  padding: 30px;
  border: 7px solid #fc7345;
  background-color: #55bcc9;
  color: #fbfbef;
  width: 95%;
  user-select: none;
}
h1 {
  color: #fbfbef;
  font-size: 5em;
  font-weight: 400;
  margin-bottom: 10px;
}
.nav-bar {
  height: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.nav-link {
  background: #fbfbef;
  color: #fc7345;
  text-decoration: none;
  font-size: 1.5em;
  padding: 10px 20px 7px 20px;
  border-radius: 5px;
  cursor: pointer;
}
.active-nav-link {
  background: #fc7345;
  color: #fbfbef;
}
p {
  font-size: 2em;
  line-height: 1.2;
  padding: 0 0 20px 0;
  text-align: justify;
  text-justify: inter-word;
}
h2 {
  font-size: 2.5em;
  line-height: 1.2;
}
.far {
  font-size: 1.6em;
  color: yellow;
}
.comment {
  display: flex;
  margin: 5px;
  padding: 5px;
  background: #fc7345;
  border-radius: 5px;
  font-size: 10px;
}
input {
  font-size: 20px;
  border-radius: 5px;
  padding: 3px;
  margin: 8px 8px 8px 0;
}
button {
  font-size: 18px;
  border-radius: 5px;
  padding: 5px 8px;
  border: none;
}
.example {
  font-style: italic;
  color: #66fcf1;
  font-weight: 700;
}
.analyze {
  background: #5c5cd6;
  color: #fbfbef;
}
.edit {
  background: #33cc33;
  color: #fbfbef;
}
.delete {
  background: #cc3333;
  color: #fbfbef;
}
